.header {
    margin: 0;
}

a {
    text-decoration: none
}

.fact {
    cursor: pointer;
}

.VERY_POSITIVE {
    background-color: #00ff00;
}

.POSITIVE {
	background-color: #a2ff89;
}

.SLIGHTLY_POSITIVE {
	background-color: #7cffc0;
}

.SLIGHTLY_NEGATIVE {
	background-color: #ffcc99;
}

.NEGATIVE {
	background-color: #ff0000;
}

.VERY_NEGATIVE {
	background-color: #ff6600;
}

.stats {
    width: 30%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 88, 255, 0.78);
}

#interval {
    display: none;
}

.stats td {
    white-space: nowrap;
    width:1%;
}

.scrollToTop{
	width: 130px;
	height: 130px;
	text-align: center;
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position: fixed;
	bottom: 25px;
	right: 40px;
	display: none;
	background-image: url('arrow_up.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.9;
}

.scrollToTop:hover{
	text-decoration:none;
}

